$loadingColor: yellow;
$successColor: #219151;
$errorColor: red;


#cache-monster-widget {
  border-radius: 10%;
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 20px 15px 0px;
  background-color: #8e8e8e;
  transition: background-color 0.2s;

  &.error {
    background-color: $errorColor;
  }

  &.success {
    background-color: $successColor;
  }

  &.loading {
    background-color: $loadingColor;
  }
}
