{% import "_includes/forms" as forms %}

<div class="item" data-colspan="1">
  {{ forms.lightswitchField({
    label: 'Enable Varnish purging?'|t,
    id: 'varnish',
    name: 'varnish',
    on: settings.varnish,
    errors: settings.getErrors('varnish')
  }) }}
</div>

<h4>Varnish Purge Widget</h4>
{{ forms.lightswitchField({
  label: 'Enable Varnish Purge Widget?'|t,
  id: 'uiWidget',
  name: 'uiWidget',
  on: settings.uiWidget,
  errors: settings.getErrors('uiWidget')
}) }}

<h4>Hosts for each locale</h4>
{{ forms.editableTableField({
  id: 'localeHosts',
  name: 'localeHosts',
  rows: settings.localeHosts,
  cols: [
    { heading: 'Locale', id: 'locale', type: 'singleline' },
    { heading: 'Host', id: 'host', type: 'singleline' }
  ]
}) }}

<h4>Varnish Servers</h4>
{{ forms.editableTableField({
  id: 'servers',
  name: 'servers',
  rows: servers,
  cols: [{heading: 'URL', id: 'url', type: 'singleline'}]
}) }}
